body {
  font-family: Arial,Helvetica,sans-serif;
  color: #2A2C79;
}

h1, h2, h3, h4, h5 {
  color: #2A2C79;
}

a:link, a:visited, a:hover, a:active {
  color: #2A2C79;
}

.container-fluid {
  padding: 0;
}

.logo img {
  display: block;
  margin: auto;
}

.nav .logo img {
  height: 100px;
}

.nav .logo + div {
  margin-top: 30px;
}

.nav a {
  text-align: center;
  display: block;
  color: #2A2C79;
  text-transform: uppercase;
  font-weight: bold;
}

.nav a.selected {
  color: #ffcc33;
}

.banner {
  background-color: #ffcc33;
}

.banner h2 {
  text-transform: uppercase;
  margin-bottom: 21px;
}

.banner h2, .banner p {
  color: #2A2C79;
  text-align: center;
}

.top {
  margin-top: 40px;
}

.fancy-link {
  text-decoration: underline;
  text-transform: uppercase;
}

#myCarousel {
  margin: 20px auto;
}

#myCarousel .carousel-inner {
  height: 400px;
}

#myCarousel .carousel-inner .item > div:first-of-type {
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
  background-position: 0 -40px;
}

#myCarousel .carousel-caption {
  top: 20px;
}

#myCarousel .carousel-caption h3 {
  text-transform: uppercase;
  font-size: 40px;
}

#myCarousel .carousel-caption p {
  max-width: 380px;
  margin: auto;
  color: #2A2C79;
  line-height: 1.5;
}

.content h3, .approach h4, .team h4 {
  text-transform: uppercase;
}

.approach h4, .approach p, .approach ul {
  margin-top: 30px;
}

.articles img, .portfolio img {
  max-width: 100%;
  max-height: 100%;
}

.articles > div {
  margin-top: 25px;
}

.articles h5 {
  margin-top: 0;
}

.portfolio h3 {
  text-transform: uppercase;
  font-size: 24px;
}

.portfolio > div:first-of-type {
  margin-bottom: 30px;
}

.portfolio img {
  max-height: 100px;
}

.portfolio h5 {
  margin-top: 0;
}

.team h4 {
  text-align: center;
  margin-top: 30px;
}

.team h5 {
  display: inline;
  text-transform: uppercase;
}

.team img {
  width: 100%;
  margin: 20px auto;
}

.team a {
  text-decoration: none;
}

.team .hilight {
  background-color: #ffcc33;
}

.contact form {
  padding: 20px;
  background-color: #f2f2f2
}

.contact form input[type=text], .contact form input[type=email], .contact form input[type=tel], .contact form textarea {
  width: 80%;
  margin-bottom: 15px;
}

.contact form .btn {
  background-color: buttonface;
  color: black;
  width: 70px;
  height: 30px;
}

.footer {
  margin-top: 300px;
}

.footer p {
  text-align: center;
}

.visible-xs {
  display: inline !important;
  font-style: italic;
}

@media (max-width: 767px) {
  .content > div, .articles > div, .approach > div, .team > div, .portfolio > div, .contact > div {
    padding: 0 30px;
    text-align: justified;
  }

  #myCarousel .carousel-inner {
    height: 250px;
  }

  .content p {
    text-align: justify;
  }

  .big-nav {
    margin-top: -22px;
  }

  .little-nav {
    margin-top: -12px !important;
  }

  .banner {
    margin-top: 10px
  }

  .portfolio img {
    max-height: 300px;
    margin-bottom: 20px;
  }
}
