body {
  font-family: Arial,Helvetica,sans-serif;
  color: #2A2C79;
}

a:link, a:visited, a:hover, a:active {
  color: #2A2C79;
}

.container-fluid {
  padding: 0;
}

.logo img {
  display: block;
  margin: auto;
}

.nav .logo img {
  height: 100px;
}

.nav .logo + div {
  margin-top: 30px;
}

.nav a {
  text-align: center;
  display: block;
  color: #2A2C79;
  text-transform: uppercase;
  font-weight: bold;
}

.nav a.selected {
  color: #ffcc33;
}

.banner {
  background-color: #ffcc33;
}

.banner h2 {
  text-transform: uppercase;
  margin-bottom: 21px;
}

.banner h2, .banner p {
  color: #2A2C79;
  text-align: center;
}

#myCarousel {
  margin: 20px auto;
}

#myCarousel img {
  max-height: 400px;
}

.content h3, .approach h4 {
  text-transform: uppercase;
}

.content a, .approach a {
  text-decoration: underline;
}

.approach h4, .approach p, .approach ul {
  margin-top: 30px;
}

.articles img, .portfolio img {
  max-width: 100%;
  max-height: 100%;
}

.articles > div {
  margin-top: 25px;
}

.articles h5 {
  margin-top: 0;
}

.portfolio h3 {
  text-transform: uppercase;
  font-size: 24px;
}

.portfolio > div:first-of-type {
  margin-bottom: 30px;
}

.portfolio img {
  max-height: 100px;
}

.portfolio h5 {
  margin-top: 0;
}

.footer {
  margin-top: 300px;
}

.footer p {
  text-align: center;
}

@media (max-width: 767px) {
  .content > div {
    padding: 0 30px;
    text-align: justified;
  }

  .content p {
    text-align: justify;
  }
}
